<?xml version="1.0" encoding="UTF-8"?>
<!--============================================================
	Deployment Descriptor: web.xml
=============================================================-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

  <display-name>ST4Example</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>ua.kpi.getman.InternetShop.web.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>ua.kpi.getman.InternetShop.web.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/WEB-INF/jsp/*</url-pattern>
    <servlet-name>Controller</servlet-name>
  </filter-mapping>
  <listener>
    <listener-class>ua.kpi.getman.InternetShop.web.listener.ContextListener</listener-class>
  </listener>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/jsp/error_page.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/error_page.jsp</location>
  </error-page>
 
</web-app>